# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# IDE folders
.vscode/
.idea/

# macOS files
.DS_Store

# Vector Database folders
db/
db_text/
halal_db_from_text/